html,
body,
#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#container {
  padding-top: 55px;
}

#map {
  width: auto;
  height: 100%;
}

.navbar {
  border-color: #bbb;
}

.navbar-brand {
  font-weight: bold;
}

.white {
  color: #fff;
}

.styleLabelKelurahan {
  background: rgba(255, 255, 255, 0);
  border: 0;
  border-radius: 0px;
  box-shadow: 0 0px 0px;
  font-size: 10pt;
  color: black;
  text-shadow: 2px 2px 3px white;
}